*.*
!src/
!tests/
!cydnest/
src/*
tests/*
cydnest/*
!Makefile
!python/
!python/cydnest/cydnest.pyx
!python/cydnest/cydnest.pxd
!python/cydnest/mpi-compat.h
!python/cydnest/PyFuncs.h
!python/cydnest/__init__.py
!python/cydnest/test.py
!python/cydnest/postprocess.py
!tests/gauss.py
!tests/mulgauss.py
!tests/rastrigin.py
!tests/rastrigin_accept_action.py
!tests/OPTIONS[1-3]
!tests/postprocess.py
!tests/road.txt
!tests/display*.py
!python_config
!setup.py
!setup.cfg
!README.rst
!src/*.[ch]
docs/*
!docs/conf.py
!docs/*.rst
!docs/_static/fig_test3.jpg
!docs/Makefile
!docs/_static/
!docs/_static/*.jpg
!.gitignore
